# ignore all files in data but csv files


*.csv
*.tsv
*.json
*.bin
*.txt
*.npz

!french_words_5000.txt
!english_words.txt
!.gitignore

!words_lists/wordle_list_FR_L3_base.txt
!words_lists/wordle_list_FR_L4_base.txt
!words_lists/wordle_list_FR_L5_base.txt
!words_lists/wordle_list_FR_L6_base.txt
!words_lists/wordle_list_FR_L7_base.txt
!words_lists/wordle_list_FR_L8_base.txt
!words_lists/wordle_list_FR_L9_base.txt
!words_lists/wordle_list_FR_L25_base.txt
!words_lists/wordle_list_FR_L26_base.txt
!words_lists/wordle_list_FR_L27_base.txt

!words_lists/wordle_list_EN_L3_base.txt
!words_lists/wordle_list_EN_L4_base.txt
!words_lists/wordle_list_EN_L5_base.txt
!words_lists/wordle_list_EN_L6_base.txt
!words_lists/wordle_list_EN_L7_base.txt
!words_lists/wordle_list_EN_L8_base.txt
!words_lists/wordle_list_EN_L9_base.txt
